<h2>Education</h2>
<h3>ITESM</h3>
<h4>(2020-Present)</h4>
<li>Computational Modeling of Electrical Systems</li>
<li>Modeling of Engineering with Computational Mathematics</li>
<li>C++ Object Oriented Programming</li>
<li>Programming of Data Structures and Fundamental Algorithms</li>
<li>Analysis of Software Requirements</li>
<li>Implementation of Computational Methods</li>
<li>Integration of Computer Security in Networks and Software Systems</li>
<li>Modeling of Multi-Agent Systems with Computer Graphics</li>
<li>Analysis and Design of Advanced Algorithms</li>

<h3>ITESM High School Santa Catarina</h3>
<h4>(2018-2020)</h4>
<li>International Baccalaureate</li>
<li>Java Object Oriented Programming</li>
<li>Interface design with Java scene builder</li>

